mail_server=imaps.udag.de=
mail_user=christian@myoggradio.org=
mail_passwort=xxx=
mail_folder=INBOX=
mail_programm=thunderbird=
mail_temp=/tmp/=
mail_delete=true=
pg_url=jdbc:postgresql://45.129.182.115:5432/email=
pg_driver=org.postgresql.Driver=
pg_user=email=
pg_passwort=xxx=
pg_db=email=
sqlite=true=
sqlite_url=jdbc:sqlite://home/christian/git/EMailArchiver/EMailArchiver.db

